<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<classes>
			<class name="com.jbk.qa.base.TestBase" />
			<class name="com.jbk.qa.testcases.RegisterMemberPageTest" />
			<class name="com.jbk.qa.testcases.LoginPageTest" />
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
